<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lyq.software">

    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_lanucher"
        android:label="定制软件"
        android:roundIcon="@mipmap/ic_lanucher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.WelcomeGuideActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.SetActivity" />
        <activity android:name=".ui.activity.PersonalActivity" />
        <activity android:name=".ui.activity.RequirementDetailActivity" />
        <activity android:name=".ui.activity.EnlargePicActivity" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.activity.CategoryActivity" />
        <activity android:name=".ui.activity.WebActivity" />
        <activity android:name=".ui.activity.AppActivity" />
        <activity android:name=".base.ServerActivity" />
        <activity android:name=".ui.activity.ReleaseDetialActivity" />
        <activity android:name=".ui.activity.TypeTwoActivity" />
        <activity android:name=".ui.activity.OrderProcessActivity" />
        <activity android:name=".ui.activity.WeChatActivity" />
        <activity android:name=".ui.activity.MyUploadActivity" />
        <activity android:name=".ui.activity.MyApplyActivity" />
        <activity android:name=".ui.activity.MyCollectionActivity" />
        <activity
            android:name=".ui.activity.MyShopActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activity.CreateShopActivity" />
        <activity android:name=".ui.activity.MyFollowActivity" />
        <activity android:name=".ui.activity.AddRequirementActivity" />
        <activity android:name=".ui.activity.AddExampleActivity" />
        <activity android:name=".ui.activity.ChooseAddressActivity" />

        <provider
            android:name=".ui.storage.SearchContentProvider"
            android:authorities="com.jiding.content"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.ShopPrivateActivity" />
        <activity android:name=".ui.activity.SearchResultActivity" />
        <activity android:name=".ui.activity.ExampleDetailActivity" />
        <activity android:name=".ui.activity.SecondLevelActivity" />
        <activity android:name=".base.ServerShopActivity" />
        <activity android:name=".ui.activity.RecommendShopActivity"></activity>
    </application>

</manifest>